body {
    background: beige;
    padding: 0px;
    margin: 0px;
    margin-bottom: 10px;
    font-family: Arial;
    font-size: 14pt;
}

#content {
    width: 843px;
    background: white;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 0 auto 0 auto;
    padding: 5px;
    box-shadow: 5px 5px 3px #888888;
}

h1 {
    text-align: center;
    font-size: 36pt;
}

nav {
    background: beige;
    padding: 10px;
    border: 0px solid black;
    font-size: 18pt;
}

.icon-big {
    vertical-align: middle;
    width: 64px;
    height: 64px;
}

.icon-small {
    vertical-align: middle;
    width: 32px;
    height: 32px;
}

.icon-tiny {
    vertical-align: middle;
    width: 16px;
    height: 16px;
} 

.icon {
    margin: 3px;
}

.template {
    display: none;
}

.placeholder {
    visibility: hidden;
}

.button-big {
    cursor: pointer;
    padding: 5px;
    margin: 10px;
    font-size: x-large;
}

.credentials_box {
    background: lightgrey;
    border: 1px solid grey;
    width: 20em;
    padding: 10px;
    margin: 20px auto 20px auto;
}

.logo_container {
    margin: 10px;
}

a.logo {
    font-size: 36pt;
    text-decoration: none;
    font-weight: bold;
}

.logo1 {
    color: green;
}

.logo2 {
    color: orange;
}

footer {
    margin-top: 20px;
    font-size: small;
    color: gray;
    text-align: center;
}