<!DOCTYPE html>
<html>
    <head>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <link rel="stylesheet" href="/static/base.css">
        {% block extra_head %}{% endblock %}
    </head>
    <body>
        <nav>
            <a href="/">Home</a> -
            <a href="/items">Items</a> -
            <a href="/connections">Connections</a> - 
            <a href="/apps/camera">Camera</a> - 
            <a href="/apps/blog">Blog</a> -
            <a href="/engines">Storage Engines</a> -
            <a href="/auth/logout">Log Out</a>
        </nav>
        <div id="content">
        {% block content%}{% endblock %}
        </div>
    </body>
</html>