<!DOCTYPE html>
<html>
    <head>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <link rel="stylesheet" href="/static/base.css">
        <link rel="stylesheet" href="/static/landing.css">
        {% block extra_head %}{% endblock %}
    </head>
    <body>
        <div class="logo_container">
            <a class="logo" href="/"><span class="logo1">libraries</span><span class="logo2">.pw</span></a>
        </div>
        {% block nav %}
        <nav>
            <a href="/ui/dashboard">Dashboard</a> -
            <a href="/ui/items">Items</a> -
            <a href="/ui/connections">Connections</a> - 
            <a href="/apps/camera">Camera</a> - 
            <a href="/apps/blog">Blog</a> -
            <a href="/engines">Storage Engines</a> -
            <a href="/auth/logout">Log Out</a>
        </nav>
        {% endblock %}
        <div id="content">
        {% block content%}{% endblock %}
        </div>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-501381-15', 'libraries.pw');
          ga('send', 'pageview');

        </script>
        <footer>Built with PostgreSQL, Python3, Ubuntu, and Digital Ocean.</footer>
    </body>
</html>