{% extends "base.html" %}

{% block extra_head %}
    <script src="/static/engines.js"></script>
    <link rel="stylesheet" href="/static/engines.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.3/themes/pepper-grinder/jquery-ui.css" />
    <script src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script>
    $(function() {
        $('#add_s3_link').click(function() {
            $("#s3_popup").dialog({title: "Add S3", width: '400px'});
            return false;
        });
    });
    </script>
{% endblock %}

{% block content %}
<div id="s3_popup">
    <form action="/ui/addS3" method="post">
        <label for="access_token">Access Token:</label> <input type="text" name="access_token"><br>
        <label for="secret_key">Secret Key:</label> <input type="text" name="secret_key">
        <input type="submit" value="Add">
    </form>
</div>

    <h1>Storage Engines</h1>
    {% if data.google_drive_url %}
        <div id="engine_add">
            <img class="engine_logo" src="/static/drive_logo.png"> <a href="{{ data.google_drive_url }}">Attach Google Drive</a>
        </div>
    {% endif %}

    {% if data.dropbox_url %}
        <div id="engine_add">
            <img class="engine_logo" src="/static/dropbox_logo.png"><a href="{{ data.dropbox_url }}">Attach Dropbox</a>
        </div>
    {% endif %}

    {% if not data.has_s3 %}
        <div id="engine_add">
            <img class="engine_logo" src="/static/amazon_logo.png"> <a href="#" id="add_s3_link">Attach Amazon S3</a>
        </div>
    {% endif %}

    {% for engine in data.engines %}
        <div class="engine">
            <form class="engine_details" method="post" action="/settings/update_engine" engine-id="{{ engine.id }}">
                <input type="hidden" name="engine_id" value="{{ engine.id }}">
                
                {% if engine.name == 's3' %}
                <h2><img class="engine_logo" src="/static/amazon_logo.png">Amazon S3</h2>
                {% endif %}

                {% if engine.name == 'googledrive' %}
                <h2><img class="engine_logo" src="/static/drive_logo.png">Google Drive</h2>
                {% endif %}

                {% if engine.name == 'dropbox' %}
                <h2><img class="engine_logo" src="/static/dropbox_logo.png">DropBox</h2>
                {% endif %}
                
                <div class="engine_capacity">{{ engine.get_total_size(human=True) }} stored ({{ engine.get_total_items() }} items)</div>
                <div>
                    <label for="checkbox_{{ engine.id }}">Save new items here</label>
                    <input id="checkbox_{{ engine.id }}" type="checkbox" {% if not engine.retired %}checked="checked"{% endif %}>
                </div>
                
                <hr>

                {% if engine.name == 's3' %}
                <label for="s3_bucket_name">Bucket Name:</label>
                <input id="s3_bucket_name" name="bucket_name" type="text" value="{{ engine.connection_data['bucket_name'] }}">
                <br>
                
                <label for="s3_secret_key">Secret Key:</label>
                <input id="s3_secret_key" name="secret_key" type="text" class="secret_key" value="{{ engine.connection_data['aws_secret'] }}">
                <br>
                
                <label for="s3_access_key">Access Key:</label>
                <input id="s3_access_key" name="access_key" type="text" class="access_key" value="{{ engine.connection_data['aws_key'] }}">
                <br>
                {% endif %}

                <input class="submit_engine_changes" value="Update Changes" type="submit" engine-id="{{ engine.id }}"><br>
                
                <ul>
                    <li><a href="settings/migrate_off_engine/{{ engine.id }}">Migrate all items off this engine</a></li>
                    <li><a href="settings/migrate_onto_engine/{{ engine.id }}">Migrate all items onto this engine</a></li>
                    <li><a href="settings/delete_engine/{{ engine.id }}">Delete all items on this engine</a></li>
                    <li><a href="settings/browse_engine/{{ engine.id }}">Browse all items on this engine</a></li>
                </ul>
            </form>
        </div>
        <div id="result_engine_{{ engine.id }}"></div>

    {% endfor %}
{% endblock %}