{% extends "base.html" %}

{% block extra_head %}
    <script src="/static/engines.js"></script>
    <link rel="stylesheet" href="/static/engines.css">
{% endblock %}

{% block content %}
    <h1>Storage Engines</h1>
    {% if data.google_drive_url %}
        <a href="{{ data.google_drive_url }}">Attach Google Drive</a>
    {% endif %}

    {% if data.dropbox_url %}
        <a href="{{ data.dropbox_url }}">Attach Dropbox</a>
    {% endif %}

    {% for engine in data.engines %}
        <div class="engine">
            <form class="engine_details" method="post" action="/settings/update_engine" engine-id="{{ engine.id }}">
                <input type="hidden" name="engine_id" value="{{ engine.id }}">
                {% if engine.name == 's3' %}
                    <h2>S3</h2>
                    <label for="s3_bucket_name">Bucket Name:</label>
                    <input id="s3_bucket_name" name="bucket_name" type="text" value="{{ engine.connection_data['bucket_name'] }}">
                    <br>
                    
                    <label for="s3_secret_key">Secret Key:</label>
                    <input id="s3_secret_key" name="secret_key" type="text" class="secret_key" value="{{ engine.connection_data['secret_key'] }}">
                    <br>
                    
                    <label for="s3_access_key">Access Key:</label>
                    <input id="s3_access_key" name="access_key" type="text" class="access_key" value="{{ engine.connection_data['access_key'] }}">
                    <br>
                {% endif %}

                {% if engine.name == 'googledrive' %}
                    <h2>Google Drive</h2>
                {% endif %}

                {% if engine.name == 'dropbox' %}
                    <h2>DropBox</h2>
                {% endif %}

                Save new items here <input type="checkbox" {% if not engine.retired %}checked="checked"{% endif %}><br>

                <input class="submit_engine_changes" value="Update Changes" type="submit" engine-id="{{ engine.id }}"><br>
                <br>
                {{ engine.get_total_size(human=True) }} stored ({{ engine.get_total_items() }} items)<br>
                <ul>
                    <li><a href="settings/migrate_off_engine/{{ engine.id }}">Migrate all items off this engine</a></li>
                    <li><a href="settings/migrate_onto_engine/{{ engine.id }}">Migrate all items onto this engine</a></li>
                    <li><a href="settings/delete_engine/{{ engine.id }}">Delete all items on this engine</a></li>
                    <li><a href="settings/browse_engine/{{ engine.id }}">Browse all items on this engine</a></li>
                </ul>
            </form>
        </div>
        <div id="result_engine_{{ engine.id }}"></div>

    {% endfor %}
{% endblock %}