{% extends "base.html" %}

{% block extra_head %}
<link rel="stylesheet" href="/static/items.css">
{% endblock %}

{% block content %}
    <h1>Library Media</h1>
    <div class="query_container">
        <h3>Query</h3>
        <div class="query_clauses">
            
        </div>
        <a href="#" class="add_new_query_clause"><img src="/static/greenplus.png"></a><br>
        <button class="submit_query_button">Submit</button>
    </div>

    <div>
        Items returned: {{ data.items_count }}
    </div>
    
    <div class="items">
        {% for item in data.library_items %}
        <div class="item">
            <table class="item_header">
                <tr>   
                    <td class="icon_pane">
                        <img class="mimetype icon icon-big" src="/static/{{ item.get_icon() }}_icon.png">
                    </td>
                    <td class="info_pane">
                        <span class="title">{{ item.get_metadata('title')|default("No Title") }}</span>
                        <span class="subtitle">{{ item.get_metadata('subtitle') }}</span>
                        <span class="date_created">({{ item.get_metadata("date_created") }})</span>
                        {% if item.size > 50 * 1024 * 1024 %}
                        <br><span class="size">{{ item.human_size() }}</span>
                        {% endif %}
                    </td>
                    <td class="manage_pane">
                        {% if item.engine.name == 's3' %}
                        <img class="storage icon icon-small" src="/static/amazon_logo.png">
                        {% elif item.engine.name == 'dropbox' %}
                        <img class="storage icon icon-small" src="/static/dropbox_logo.png">
                        {% elif item.engine.name == 'googledrive' %}
                        <img class="storage icon icon-small" src="/static/drive_logo.png">
                        {% endif %}
                        <br>
                        <img class="icon-small info-icon icon" item-id="{{ item.hash }}" src="/static/information_icon.png">
                    </td>
                </tr>
            </table>
            <div class="hidden_pane" id="pane_{{ item.hash }}">
                <table class="all_metadata">
                    {% for key, value in item.get_all_metadata(only_mutable=False) %}
                    <tr>
                        <td class="key">{{ key }}:</td>
                        <td class="value">{{ value }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="single_clause_template">
        <select class="polarity">
            <option value="including">INCLUDING</option>
            <option value="excluding">EXCLUDING</option>
        </select>
        <input type="text" class="key">
        <select class="operator">
            <option value="exact">Exact</option>
            <option value="greaterthan">Greater Than</option>
            <option value="lessthan">Less Than</option>
            <option value="is_present">Is Present</option>
        </select>
        <input type="text" class="value">
    </div>

    <script>
        fill_in_generator({{ data.parsed_query_json }});

        function fill_in_generator(query) {
            $(".single_clause").remove();
            $.each(query, function(index, clause) {
                var id = create_query_clause_element();
                var polarity = clause[0],
                    key = clause[1],
                    operator = clause[2],
                    value = clause[3];

                console.log(id, polarity, key, operator, value)

                $("#" + id + " select.polarity").val(polarity);
                $("#" + id + " select.operator").val(operator);
                $("#" + id + " input.key").val(key);
                $("#" + id + " input.value").val(value);
            });

            create_query_clause_element();
        }

        function query_from_generator(submit_element) {
            // Generate a LQL query based on the filter html widget.
            // Passed in must be the select button element of the widget.
            var clauses = submit_element.parent().find('.single_clause');
            var query = '';

            clauses.each(function(index, e) {
                var e = $(e);
                var key = e.find('input.key').val();
                var value = e.find('input.value').val();
                var operator = e.find('select.operator').val();
                var polarity = e.find('select.polarity').val();
                
                if(key) {
                    var this_clause = polarity + ' ' + key + ' ' + operator + ' ' + value + '; ';
                    query += this_clause;
                }
            });
            return query;
        }

        function create_query_clause_element() {
            var html = $(".single_clause_template").html();
            var id = Math.floor(Math.random()*119);
            var template = "<div id=\"" + id + "\" class=\"single_clause\">" + html + "</div>";
            $(".query_clauses").append(template);
            return id;
        }

        $(".add_new_query_clause").click(create_query_clause_element);

        $(".submit_query_button").click(function() {
            var query = query_from_generator($(this));
            window.location.href = "/items?query=" + encodeURIComponent(query);
        });

        $(".info-icon").click(function(event) {
            var id = $(this).attr("item-id");
            $("#pane_" + id).show();
            event.stopPropagation()
        });
        $(document).click(function() {
            $('.hidden_pane').hide();
        });
    </script>
{% endblock %}