{% extends "base.html" %}

{% block extra_head %}
<link rel="stylesheet" href="/static/items.css">
<script src="/static/items.js"></script>
{% endblock %}

{% block content %}
    <h1>Library Media</h1>
    
    <div class="query_container">
        <h2>Query</h2>
        <div class="query_clauses">
            <!-- Will get filled in by javascript -->
        </div>

        <!--
        <button>Created By me</button>
        <button>Not Created by me</button>
        <button>Published Today</button>
        <button>Video</button>
        <button>Picture</button>
        <button>Text</button>
        <button>Audio</button>
        <button>Including</button>-->
        
        <button class="button-big add_new_query_clause ui-add">+</button>
        <button class="button-big submit_query_button ui-view">View</button>

    </div>

    <table class="clause template">
        <tr>
            <td class="ends">
                <select class="polarity">
                    <option value="including">INCLUDING</option>
                    <option value="excluding">EXCLUDING</option>
                </select>
            </td>
            <td><div class="subclauses"></div></td>
            <td class="ends">
                <button class="add_new_subclause ui-add">+</button>
            </td>
        </tr>
    </table>

    <div class="subclause template">
        <img class="icon icon-tiny placeholder"> <!-- for symmetry -->
        <input type="text" class="key" list="keys">
        <datalist>
            {% for value in data.keys %}
            <option value="{{ value }}">
            {% endfor %}
        </datalist>
        <input type="text" class="operator" list="operators">
        <datalist id="operators">
            <option value="exact">
            <option value="greaterthan">
            <option value="lessthan">
            <option value="matches">
            <option value="ispresent">
        </datalist>
        <input type="text" class="value" list="values">
        <button class="delete_subclause ui-delete">&#10005;</button>
    </div>

    <div class="item_container">
        <h2>Items Matched: {{ data.items_count }}</h2>
        
        {% for item in data.library_items %}
        <div class="item">
            <table class="item_header">
                <tr>
                    <td class="icon_pane">
                        <img class="mimetype icon icon-big" src="/static/{{ item.get_icon() }}_icon.png">
                    </td>
                    <td class="info_pane">
                        <span class="title">{{ item.get_metadata('title')|default("No Title") }}</span>
                        <span class="subtitle">{{ item.get_metadata('subtitle') }}</span>
                        <span class="date_created">({{ item.get_metadata("date_created") }})</span>
                        {% if item.size > 50 * 1024 * 1024 %}
                        <br><span class="size">{{ item.human_size() }}</span>
                        {% endif %}
                    </td>
                    <td class="manage_pane">
                        {% if item.engine.name == 's3' %}
                        <img class="storage icon icon-small" src="/static/amazon_logo.png">
                        {% elif item.engine.name == 'dropbox' %}
                        <img class="storage icon icon-small" src="/static/dropbox_logo.png">
                        {% elif item.engine.name == 'googledrive' %}
                        <img class="storage icon icon-small" src="/static/drive_logo.png">
                        {% endif %}
                        <br>
                        <img class="icon-small info-icon icon" item-id="{{ item.hash }}" src="/static/information_icon.png">
                    </td>
                </tr>
            </table>
            <div class="hidden_pane" id="pane_{{ item.hash }}">
                <table class="all_metadata">
                    {% for key, value in item.get_all_metadata(only_mutable=False) %}
                    <tr>
                        <th class="key">{{ key }}:</th>
                        <td class="value">{{ value }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        {% endfor %}
    </div>

    <script>
        fill_in_generator({{ data.parsed_query_json }});
    </script>
{% endblock %}