{% extends "base.html" %}

{% block extra_head %}
<link rel="stylesheet" href="/static/items.css">
{% endblock %}

{% block content %}
    <h1>Library Media</h1>
    <div class="query_container">
        <h3>Query</h3>
        <div class="query_clauses">
            
        </div>
        <a href="#" class="add_new_query_clause"><img src="/static/greenplus.png"></a><br>
        <button class="submit_query_button">Submit</button>
    </div>

    <div>
        Items returned: {{ data.items_count }}
    </div>
    
    <ul>
        {% for item in data.library_items %}
        <li>
            <div class="item">
                <div class="edit_item_link">
                    <a href="/item/{{ item.size }}/{{ item.hash }}">Edit</a>    
                </div>
                
                <img class="mimetype icon" src="/static/{{ item.get_icon() }}_icon.png">

                <h3>
                    {{ item.get_metadata('title')|default("No Title") }}
                </h3>

                <h4>
                    <span class="subtitle">{{ item.get_metadata('subtitle') }}</span>
                    <span class="date_created">{{ item.get_metadata("date_created") }}</span>
                </h4>

                <p class="all_metadata">
                    <table border=1>
                    {% for key, value in item.get_all_metadata(only_mutable=False) %}
                        <tr>
                            <td class="key">{{ key }}:</td>
                            <td class="value">{{ value }}</td>
                        </tr>
                    {% endfor %}
                    </table>
                </p>
                <p>
                    Engine: 
                    {% if item.engine.name == 's3' %}
                        <img class="storage icon" src="/static/amazon_logo.png">
                    {% elif item.engine.name == 'dropbox' %}
                        <img class="storage icon" src="/static/dropbox_logo.png">
                    {% elif item.engine.name == 'googledrive' %}
                        <img class="storage icon" src="/static/drive_logo.png">
                    {% endif %}
                </p>
            </div>
        </li>
        {% endfor %}
    </ul>

    <div class="single_clause_template">
        <select class="polarity">
            <option value="including">INCLUDING</option>
            <option value="excluding">EXCLUDING</option>
        </select>
        <input type="text" class="key">
        <select class="operator">
            <option value="exact">Exact</option>
            <option value="greaterthan">Greater Than</option>
            <option value="lessthan">Less Than</option>
            <option value="is_present">Is Present</option>
        </select>
        <input type="text" class="value">
    </div>

    <script>
        fill_in_generator({{ data.parsed_query_json }});

        function fill_in_generator(query) {
            $(".single_clause").remove();
            $.each(query, function(index, clause) {
                var id = create_query_clause_element();
                var polarity = clause[0],
                    key = clause[1],
                    operator = clause[2],
                    value = clause[3];

                console.log(id, polarity, key, operator, value)

                $("#" + id + " select.polarity").val(polarity);
                $("#" + id + " select.operator").val(operator);
                $("#" + id + " input.key").val(key);
                $("#" + id + " input.value").val(value);
            });

            create_query_clause_element();
        }

        function query_from_generator(submit_element) {
            // Generate a LQL query based on the filter html widget.
            // Passed in must be the select button element of the widget.
            var clauses = submit_element.parent().find('.single_clause');
            var query = '';

            clauses.each(function(index, e) {
                var e = $(e);
                var key = e.find('input.key').val();
                var value = e.find('input.value').val();
                var operator = e.find('select.operator').val();
                var polarity = e.find('select.polarity').val();
                
                if(key) {
                    var this_clause = polarity + ' ' + key + ' ' + operator + ' ' + value + '; ';
                    query += this_clause;
                }
            });
            return query;
        }

        function create_query_clause_element() {
            var html = $(".single_clause_template").html();
            var id = Math.floor(Math.random()*119);
            var template = "<div id=\"" + id + "\" class=\"single_clause\">" + html + "</div>";
            $(".query_clauses").append(template);
            return id
        }

        $(".add_new_query_clause").click(create_query_clause_element);

        $(".submit_query_button").click(function() {
            var query = query_from_generator($(this));
            window.location.href = "/items?query=" + encodeURIComponent(query);
        });
    </script>
{% endblock %}