{% extends "base.html" %}

{% block extra_head %}
<link rel="stylesheet" href="/static/landing.css">
{% endblock %}

{% block nav %}
<nav></nav>
{% endblock %}

{% block content %}
	<center>
    <h1>Welcome to Libraries.pw!</h1>
	<div class="stats"> 
	    Total users: <strong>{{ data.library_count }}</strong>
	    Total items: <strong>{{ data.item_count }}</strong>
	    Total size of all files: <strong>{{ data.total_size }}</strong>
	</div>
	</center>
    
    <div class="mission_statement">
	    <p>
	    libraries.pw is a lightweight, simple, open source Library host.
	    Click the button below to sign up to host your very own Library account.
		</p>
		<p>
	    A Library Account is very similar to an email account, but a Library can
	    do much more than an Inbox can. Your Library, along with the Libraries of your friends,
	    together make up what is called the Library Data Storage System. This is a
	    distributed, datastore that acts as a platform for applications.
		</p>
		<p>
		Instead of giving Facebook your photos for them to store on <em>their</em> servers,
		you can give an application access to read and/or write to your library.
		</p>
		<p>
		The underlying API of the Library Data System is open source. So if you do not
		trust libraries.pw to host your library, you can run your own library server,
		and still participate in data sharing across your Library's connections.
		</p>
	    <p>
	    The Library Transfer Protocol is an open source effort to standardize
	    an API to promote better interoperability between cloud storage providers.
	    </p>
	    <p>
	    If app developers build their applications on top of the Library Transfer Protocol
	    instead of proprietary services such as Dropbox and Google Drive, it would drive the
	    world in a direction towards better, open software where users are in control of their data.
		</p>

		<p>
			To Learn more about the Library Data System, come hang out with the developers
			in the official IRC channel on <a href="irc://irc.freenode.org/librarydss">Freenode #librarydss</a>.
		</p>
		
		<center>
			<button class="signup_button" onclick="window.location='/auth/register';">Signup Now!</button>
		</center>
    
        <center>

            <br>Or Log in Below<br>
        <div class="login_section">
            <form method="post" action="/auth/login">
                <label for="username">Username: </label>
                <input id="username" type="text" name="username">
                <br>

                <label for="password">Password: </label>
                <input id="password" type="password" name="password">
                <br>

                <input type="submit" value="Log in">
            </form>
        </div>
        </center>
	</div>
<a href="https://github.com/priestc/LibraryDSS"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>
{% endblock %}