{% extends "base.html" %}

{% block extra_head %}
    <style>
        .key {
            color: red;
        }
        .value {
            color: blue;
        }

        .item {
            border: 1px solid black;
            background: #DDDDFF;
            padding: 5px;
            margin: 5px;
            width: 800px;
        }
        
        .subtitle {
            color: grey;
        }
    </style>
{% endblock %}

{% block content %}
    <h1>Manage Library items</h1>
    <h2>Items</h2>
    <ul>
        {% for item in data.library_items %}
        <li>
            <div class="item">
                <h3>
                    {{ item.get_metadata('title')|default("No Title") }}<br>
                    <span class="subtitle">{{ item.get_metadata('subtitle') }}</span>
                </h3>
                <p>
                    {% for key, value in item.get_all_metadata(only_mutable=False) %}
                    <span class="key">{{ key }}:</span>
                    <span class="value">{{ value }}</span>
                    {% endfor %}
                </p>
                <p>
                    <a href="/item/{{ item.size }}/{{ item.hash }}">Edit</a>
                </p>
            </div>
        </li>
        {% endfor %}
    </ul>
{% endblock %}