body {
    background: beige;
    padding: 0px;
    margin: 0px;
    margin-bottom: 10px;
}

#content {
    width: 80%;
    background: white;
    border: 1px solid gray;
    margin: 0 auto 0 auto;
    padding: 5px;
}

h1 {
    text-align: center;
}

nav {
    background: beige;
    padding: 10px;
    border: 0px solid black
}

.icon-big {
    vertical-align: bottom;
    width: 64px;
    height: 64px;
}

.icon-small {
    vertical-align: bottom;
    width: 32px;
    height: 32px;
}

.icon-tiny {
    vertical-align: bottom;
    width: 16px;
    height: 16px;
} 

.icon {
    margin: 3px;
}

.template {
    display: none;
}