input[type=text] {width: 20em}

.engine {
    background: #DD99DD;
    width: 500px;
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
}

.submit_engine_changes {
    visibility: hidden;
}

label {
    width: 100px;
}

.engine_capacity {
}

.engine h2 {
    padding:0px;
    margin:0px;
    margin-bottom: 4px;
    color: white;
    font-weight: bold;
}

.engine_logo {
    height: 32px;
    width: 32px;
    margin-right: 5px;
}