input[type=text] {
    width: 20em
}

.engine {
    background: #DD99DD;
    width: 90%;
    border: 1px solid black;
    padding: 15px;
    margin: 10px auto 10px auto;
}

.submit_engine_changes {
    visibility: hidden;
}

label {
    width: 100px;
}

.engine_capacity {
}

.engine h2 {
    padding:0px;
    margin:0px;
    margin-bottom: 4px;
    color: white;
    font-weight: bold;
}

.engine_logo {
    height: 32px;
    width: 32px;
    margin-right: 5px;
}

#engine_add {
    background: lightgray;
    border: 1px solid black;
    width: 90%;
    margin: 0px auto 10px auto;
    padding: 15px;
}

#s3_popup {
    display: none;
}