#content {
    width: 80%;
    background: white;
    border: 1px solid gray;
    margin: 0 auto 0 auto;
    padding: 5px;
}

h2 {
    margin-top: 0px;
}

.query_container {
    border: 1px solid brown;
    background: #DDCC44;
    width: 80%;
    margin: 0px auto 0 auto;
    text-align: center;
    padding: 10px
}

.query_container .single_clause {
    border: 0px solid black;
    overflow: hidden;
}

.query_container .subclauses {
    overflow: hidden;
}

.query_container .subclause {
    border: 0px solid red;
}

.query_container .single_clause .row {
    float: left;
}

.query_container input[type=text] {
    width: 200px;
}

.query_container select {
    height: 32px;
}

.query_container table.bottom_row {
    width: 100%;
}

.query_container table.bottom_row td {
    width: 50%;
    border: 0px solid black;
}

.query_container .bottom_row .view {
    float: right
}

.submit_query_button {
    font-size: x-large;
    cursor: pointer;
    background-color: rgb(195, 235, 228);
    border-radius: 3px;
}

.item_container {
    margin: 10px;
    margin-top: 30px;
}

.item {
    border: 1px solid black;
    background: #DDDDFF;
    padding: 0px;
    margin: 10px auto 0 auto;
    width: 100%;
    overflow: hidden;
    position: relative;
    top: 0;
    left: 0;
}

.item table.all_metadata .key {
    color: brown;
    text-align: right;
}
.item table.all_metadata .value {
    color: blue;
}

.item .info-icon:hover {
    cursor: pointer;
}

.item table.item_header {
    width: 100%;
    background: rgb(195, 235, 228);
    height: 64px;
}

.item table.item_header td.icon_pane {
    width: 65px;
    text-align: center;
}

.item table.item_header td.manage_pane {
    width: 45px;
    text-align: center;
}

.item table.item_header td.info_pane {
    text-align: center;
}

.item table.all_metadata {
    border-spacing: 0px;
    width: 100%;
}

.item table.all_metadata td {
    border: 0px;
    border-top: 1px solid gray;
}

.item table.all_metadata th {
    border: 0px;
    border-right: 1px solid gray;
}

.item .subtitle {
    color: grey;
}

.item .hidden_pane {
    display: none;
}