.key {
    color: brown;
    text-align: right;
}
.value {
    color: blue;
}

.item {
    border: 1px solid black;
    background: #DDDDFF;
    padding: 0px;
    margin: 10px;
    width: 800px;
    overflow: hidden;
    position: relative;
    top:0;
    left:0;
}

.item .info-icon:hover {
    cursor: pointer;
}

.item table.item_header {
    width: 100%;
    background: rgb(195, 235, 228);
    height: 64px;
}



.item table.item_header td.icon_pane {
    width: 65px;
    text-align: center;
}

.item table.item_header td.manage_pane {
    width: 45px;
    text-align: center;
}

.item table.item_header td.info_pane {
    text-align: center;
}

.hidden_pane {
    display: none;
}

.item table.all_metadata {
    border-collapse: collapse;
}

.item table.all_metadata td {
    border: 1px solid gray;
    border-bottom: 0px;
    width: 100%;
}

.subtitle {
    color: grey;
}

a.add_new_query_clause img {
    width: 32px;
    height: 32px
}

.query_container {
    background: #DD1144;
    padding: 3px;
    margin: 5px;
}

.query_container input[type=text] {
    width: 200px
}

.single_clause_template {
    display: none;
}